<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GPSProject_fmi/src/graphics_shows_gui/GPSFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="graphics_shows_gui.GPSFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GPSProject_fmi"/>
</launchConfiguration>
